.sidebar-layout {
    display: flex;
    min-height: 80vh;

}


.sidebar {
    padding: 2rem 1.5rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main-content {
    flex: 1 1 0%;
    padding: 2.5rem 2rem 2rem 2rem;
    background: rgb(32, 33, 35);
    border-radius: 8px;
}

@media (max-width: 900px) {
    .sidebar-layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 1.5rem 1rem;

    }

    .main-content {
        border-radius: 0 0 12px 12px;
        padding: 1.5rem 1rem;

    }
}