:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}


button {
  display: inline-block;
  background: none;
  color: #bebcbc;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
}

button:hover,
button:focus-visible,
button:focus {
  color: #eeeff1;
  font-weight: 500;
}


input {
  background: transparent;
  color: #222;
  border: none;
  border-bottom: 2px solid #888;
  border-radius: 0;
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  transition: border-color 0.2s, color 0.2s;
  outline: none;
  box-shadow: none;
}

input:focus {
  border-bottom: 2px solid #ff5c5c;
  color: #111;
}

input::placeholder {
  color: #b3b3b3;
  opacity: 1;
}